@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// Fonts

$fontTitillium: "Titillium Web", sans-serif;
$fontGrotesque: "Darker Grotesque", sans-serif;

// Colors

$blue: #473ed5;
$red: #f4005b;
$white: #ffffff;
$black: #222222;

body {
  scroll-behavior: smooth;
  max-width: 1080px;
  width: 100%;
  margin: auto;
}

ol,
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  padding: 0 30px;
}

// Mixin

@mixin small-font($fontWeight) {
  font-family: $fontTitillium;
  font-size: 20px;
  font-weight: $fontWeight;
  text-transform: uppercase;
  color: $black;
}
